body{
  padding-top: 70px;
}

.container{
  width: 100%
}
.container video {
  width: 100%;
  display: relative;
}

.subtitles {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  color: white;
  font-size: 4vmin;
  padding-bottom: 60px;
}

.subtitle-edit-container{
  height: 50vmin;
  overflow: scroll;
}
/*
@media (min-width: 1200px){
  .container {
    width: 100%;
  }
}

@media (min-width: 992px){
  .container {
    width: 100%;
  }
}*/
