<div class="row">
  <div class="col-md-12">
    <h1>{{videoComp.script.title}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
      <div class="subtitles text-center">
          <div class="row">
              <div class="col-xs-12 line1Box">
                  <span id="line1">{{videoComp.subtitle.line1}}</span>
              </div>
          </div>
          <div class="row">
              <div class="col-xs-12 line2Box">
                  <span id="line2">{{videoComp.subtitle.line2}}</span>
              </div>
          </div>
      </div>
      <video src="video/Downfall.mkv" controls autoplay></video>
  </div>

  <div class="col-md-4" id="subtitles-col">
    <div class="inner-shadow"></div>
    <form class="form-control" ng-submit="videoComp.save()">
      <label>Save subtitles</label>
      <input type="submit" value="Submit">
    </form>
    <br/>
    <div class="subtitle-edit-container">
      <div class="row" ng-repeat="subtitle in videoComp.script.subtitles">
        <div class="col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading panel-title">
              {{subtitle.duration}}
            </div>
            <div class="panel-body">
              <input name="line1" type="text" class="form-control" ng-model="subtitle.line1"/>
              <input name="line2" type="text" class="form-control" ng-model="subtitle.line2"/>
            </div>
        </div>
    </div>
</div>
