<div class="row">
  <div class="col-xs-12">
    <div class="subtitles text-center">
      <div class="row">
        <div class="col-xs-12">
            <span id="line1">{{videoComp.subtitle.line1}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
            <span id="line2">{{videoComp.subtitle.line2}}</span>
        </div>
      </div>
    </div>
    <video src="video/Downfall.mkv" controls autoplay></video>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <span id="time"></span>
  </div>
</div>
